[submodule "tools/docker"]
	path = tools/docker
	url = https://github.com/Godhart/twylt-pack-docker.git
[submodule "tools/filesystem"]
	path = tools/filesystem
	url = https://github.com/Godhart/twylt-pack-filesystem.git
[submodule "tools/git"]
	path = tools/git
	url = https://github.com/Godhart/twylt-pack-git.git
[submodule "tools/hdl-order"]
	path = tools/hdl-order
	url = https://github.com/Godhart/hdl-order.git
