WORKSPACE_HOST_PATH={{ Path(namespace.workspace).abs().resolve() }}
TOOLHUB_ADMIN_PASSWORD={{ namespace.admin_pass }}
TOOLHUB_AGENT_PASSWORD={{ namespace.agent_pass }}
TOOLHUB_SEED_LANG={{ namespace.seed_lang }}
TOOLHUB_CONFIG=/config/toolhub.yaml
DATABASE_URL=file:/data/hub.db
{% for k,v in namespace.env %}
{{ str(k).strip() }}={{ str(v).strip() }}
{% endfor %}
{% for k,v in hub.env %}
{{ str(k).strip() }}={{ str(v).strip() }}
{% endfor %}
